.DS_Store
._*
*~.*
~$*

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.symi
*.symlog
*.symo
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.tcp
*.tex#
*.tps
*.tmp
__pycache__
*.autosave
*.texnicle
*.swp
*.swo

revision.tex
main.pdf
